{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <!-- Sol Tarafta Resim -->
      <div class="col-md-4">
        <img src="{{ animals.img.url }}" alt="{{ animals.name }}" class="img-fluid">
      </div>
      <!-- Sağ Tarafta Bilgiler -->
      <div class="col-md-8">
        <h2>{{ animals.name }}</h2>
        <hr>
        <p><strong>Sınıf:</strong> {{ animals.animalClass.name }}</p>
        <hr>
        <p><strong>Diğer Bilgiler:</strong> {{ animals.description }}</p>
        <!-- İhtiyaç duyduğunuz diğer bilgileri ekleyebilirsiniz -->
      </div>
    </div>
  </div>
{% endblock content %}