{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
  <div class="container my-2">
    <div class="row">
      <div class="col-md-12">
        <h2>Hoşgeldiniz!</h2>
        <p class="lead">Hayvanlar alemine dair eğlenceli bilgiler ve haberler burada.</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
      {% for animal in latest_animals %}
        <div class="col my-2">
          <div class="card bg-dark-blue" style="width:18rem;height:30rem;">
            <img src="{{ animal.img.url }}" class="card-img-top" alt="{{ animal.name }}" />
            <div class="card-body">
              <h5 class="card-title">{{ animal.name }}</h5>
              <h6 class="card-title">{{ animal.animalClass }}</h6>
              <p class="card-text">
                {{ animal.description | truncatewords:20 }}
              </p>
              <a href="{% url 'animals_details' animal.slug %}" class="btn btn-red">İncele</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}